.formContainer{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: aliceblue;
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: black;
            font-weight: bold;
            font-size: 30px;

        }
        .title{
            color: black;
            font-weight: bold;
            font-size: 12px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-radius: 10px;

            input{
                padding: 10px;
                border: none;
                border-bottom: #a7a7a7 solid 1px;
                width: 250px;
            }
            button{
                padding: 10px;
                border: none;
                border-radius: 10px;
                background-color: #a7a7a7;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #a7a7a7;
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 20px;
                    height: 20px;
                }

            }
           
        }
        p{
            color: black;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border : 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background-color: #a7a7a7;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #a7a7a7;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: azure;

                .logo{
                    font-weight: bold;
                    font-size: 20px;
                }
                .users{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;

                    img{
                        width: 20px;
                        height: 20px;
                        background-color: #a7a7a7;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: azure;
                        color: #a7a7a7;
                        font-size: 10px;
                        border: none;
                        cursor: pointer; 

                    }
                }
                }
                .search{
                    border-bottom: #a7a7a7 solid 1px;
                    .searchForm{
                        padding: 10px;

                        input{
                            background-color: transparent;
                            border: none;
                            color: white;

                        }
                    }
                }
                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    cursor: pointer; 

                    &:hover{
                        background-color: brown; 
                    }

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

            }


        }
        .chat{
            flex: 2; 
        }

    }
